<link rel="stylesheet" href="/css/footer.css" />

<nav class="nav navbar fixed-bottom navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav text-center mx-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/nguyenvuzxc1/"
          ><i class="fab fa-facebook"></i> Facebook</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto: nguyenvu@hoangvumail.com">
          <i class="far fa-envelope"></i> Email</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link"
          >Copyright <i class="far fa-copyright"></i> 2021 hoangvu12.</a
        >
      </li>
    </ul>
  </div>
</nav>
