<link rel="stylesheet" href="/css/header.css" />

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img
        src="http://thptlehoan.gialai.edu.vn/upload/20409/20180331/Logo_New80.png"
      />
      LeHoan-EduOne</a
    >
  </div>
</nav>
